<div id="<%= dom_id historical_price %>">
  <p>
    <strong>Coin:</strong>
    <%= historical_price.coin_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= historical_price.price %>
  </p>

  <p>
    <strong>Recorded at:</strong>
    <%= historical_price.recorded_at %>
  </p>

</div>
