<div class="historical-price">
  <p class="mb-1">
    <strong>Price:</strong>
    <span class="text-warning"><%= number_to_currency(historical_price.price, unit: "$") %></span>
  </p>
  <p class="mb-1">
    <strong>Recorded at:</strong>
    <span class="text-warning"><%= data_br(historical_price.recorded_at) %></span>
  </p>
</div>