<h1><%= t('coins.edit_title', default: 'Edit Coin') %></h1>

<%= render 'form', coin: @coin %>

<div class="actions mt-4">
    <%= link_to t('global.actions.back', default: 'Back'), coins_path, class: "btn btn-secondary" %>
</div>