<%# app/views/coins/new.html.erb %>
<div class="container mt-5">
  <h1 class="mb-4">Cadastrar Nova Moeda</h1>

  <%= render "form", coin: @coin %>

  <div class="mt-4">
    <%= link_to "Voltar para moedas", coins_path, class: "btn btn-secondary" %>
  </div>
</div>
